* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Rubik-Regular;
    src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: Rubik-Bold;
    src: url("../fonts/Rubik-Bold.ttf");
}

body {
    font-family: Rubik-Bold, sans-serif;
    background: #FBF8EC;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.promo {
    color: #414141;
    line-height: 150%;
    font-size: 36px;
}

.btn-all-promo {
    width: 168px;
    height: 40px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 14px;
    text-decoration: none;
}

.promo-text {
    width: 120px;
    height: 24px;
    color: #606060;
    font-size: 16px;
    line-height: 150%;
    font-family: Rubik-Regular, sans-serif;
    text-align: center;
    margin-right: 8px;
}

.arrow-right svg {
    vertical-align: bottom;
}

.main {
    padding-bottom: 120px;
}

.main-items {
    display: grid;
    grid-template-columns: 272px 272px 272px 272px;
    grid-gap: 40px;
}

.item {
    width: 272px;
    height: 349px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image img {
    vertical-align: bottom;
}

.item-description {
    padding: 8px;
    box-sizing: border-box;
    width: 272px;
    height: 189px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price-card div:nth-child(1) {
    color: #414141;
    font-size: 18px;
    line-height: 150%;
}

.price-card div:nth-child(2) {
    font-family: Rubik-Regular, sans-serif;
    color: #BFBFBF;
    font-size: 12px;
    line-height: 150%;
}

.price-no-card {
    text-align: right;
    font-family: Rubik-Regular, sans-serif;
}

.price-no-card div:nth-child(1) {
    color: #606060;
    font-size: 16px;
    line-height: 150%;
}

.price-no-card div:nth-child(2) {
    color: #BFBFBF;
    font-size: 12px;
    line-height: 150%;
}

.item-text {
    font-family: Rubik-Regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
    margin: 8px 0 8px 0;
}

.rating img {
    vertical-align: bottom;
}

.btn {
    width: 256px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #70C05B;
    border-radius: 4px;
    color: rgba(112, 192, 91, 1);
    background: transparent;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover {
    color: #FFFFFF;
    background: #FF6633;
    border: none;
}

.purchases-title {
    color: #414141;
    font-size: 36px;
    padding-bottom: 16px;
}

.purchases .container ul li {
    display: flex;
    align-items: center;
}

.product {
    color: #414141;
    font-size: 20px;
    padding-bottom: 16px;
    font-family: Rubik-Regular, sans-serif;
    /*width: 278px;*/
    height: 34px;
    box-sizing: border-box;
}

.close {
    /*display: none;*/
    margin-left: 16px;
    cursor: pointer;
}

.special-offers {
    padding: 86px 0 120px 0;
}

.special-offers-title {
    font-size: 36px;
    line-height: 150%;
    color: #414141;
    margin-bottom: 40px;
}

.discount-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 584px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(202, 147, 96, 0.5);
    background: #FCD5BA;
    box-sizing: border-box;
    padding: 7px 31px 9px 40px;
}

.discount-image {
    width: 217px;
}

.discount-image img {
    transform: rotate(14deg);
    vertical-align: bottom;
    border-radius: 11px;
}

.discount-info {
    width: 260px;
}

.discount-title {
    font-size: 24px;
    line-height: 150%;
    color: #414141;
}

.discount-text {
    font-family: Rubik-Regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
    padding-top: 6px;
}

.discount-card-second {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    padding: 14px 0 0 40px;
}

.shops-title {
    font-size: 36px;
    line-height: 150%;
    color: #414141;
    margin-bottom: 40px;
}

.shops-menu {
    margin-bottom: 24px;
}

.shops-menu ul {
    display: flex;
    align-items: center;
}

.shops-menu ul li {
    list-style: none;
    margin-right: 24px;
    padding: 4px 8px;
    background-color: #F3F2F1;
    border-radius: 4px;
    transition: all 0.4s;
    cursor: pointer;
}

.shops-menu ul li:nth-child(4) {
    margin-right: 0;
}

.shops-menu ul li.active {
    background-color: #70C05B;
}

.shops-menu ul li:hover {
    background-color: #70C05B;
}

.shops-menu ul li a {
    font-size: 12px;
    line-height: 150%;
    color: #606060;
    font-family: Rubik-Regular, sans-serif;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.4s;
}

.shops-menu ul li a.active-color {
    color: #FFFFFF;
}

.shops-menu ul li:hover a {
    color: #FFFFFF;
}

.map {
    background-image: url("../images/map.png");
    background-size: cover;
    background-position: center;
    height: 354px;
    margin-bottom: 70px;
}

.map {
    font-size: 50px;
    text-align: center;
    color: #414141;
    display: none;
}

.map-1 {
    display: block;
}

/*.map-2,*/
/*.map-3,*/
/*.map-4 {*/
/*    display: none;*/
/*}*/

